:root{
  --grey-text: #696868;
  --pink-text: rgba(248, 229, 229);
  --grey-btn: #c9c9c9;
  --dark-text: rgb(124,115,115);
}


/*SETTING UP DIFFERENT BUTTON COMBOS*/
.white-btn{
  padding: 0.5rem 1rem 0.5rem;
  border-radius: 5px;
  border: none;
  background: #fff;
  font-family: 'Cardo', serif;
  font-weight: bold;
  font-size: 1.4rem;
  color: var(--grey-text);
  cursor: pointer;
}

.white-btn:hover{
  background: var(--grey-text);
  color: #fff;
}

.grey-btn{
  display: inline-block;
  padding: 0.5rem 1rem 0.5rem;
  border-radius: 5px;
  border: none;
  background: var(--pink-text);
  font-family: 'Cardo', serif;
  font-size: 1.4rem;
  color: var(--dark-text);
  margin-top: 0.5rem;
}

.grey-btn:hover{
  background: var(--grey-text);
  color: #fff;
}


*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body{
  background: #fff;
  position: relative;
}

a{
  text-decoration: none;
}

.btn{
  cursor: pointer;
  transition: ease 0.5s;
}

.header{
  width: 100%;
  background: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.header img{
  width: 300px;
  margin-left: 3rem;
}

.navbar ul{
  height: 80px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  list-style: none;
  padding-right: 3rem;
}

.navbar li a{
  margin-left: 30px;
  padding: 10px;
  font-size: 1.3rem;
  font-family: 'Cardo', serif;
  color: var(--grey-text);
}

.navbar ul a:hover,
.navbar a.current{
  border-bottom: 2px solid rgba(195, 158, 160, 0.6);
}

.hero{
  background: url("../images/hero-test2-test.jpg") no-repeat center center/cover;
  width: 100%;
  height: 80vh;
}

.hero-content{
  display: flex;
  flex-direction: column;
  align-items: center;

  padding-top: 4rem;
  height: 90%;
}

.hero-content h3{
  color: #fff;
  font-weight: bold;
  font-size: 3rem;
  font-family: 'Cardo', serif;
  font-weight: 400;
  letter-spacing: 2px;
  padding-bottom: 1rem;
}

.description {
  font-family: 'Cardo', serif;
  text-align: center;
  padding: 5rem 6rem 4rem;
  line-height: 1.5rem;
  color: var(--grey-text);
}

.description h1{
  font-family: 'Clicker Script', cursive;
  font-weight: 600;
  font-size: 4rem;
  padding-bottom: 2rem;
  color: var(--dark-text);
}

.preview-section{
  display: flex;
  padding: 1rem;
}

.flip-card{
  width: 35%;
  height: 275px;
  margin: 1rem;
  position: relative;
  transform-style: preserve-3d;
  transition: all 1.5s ease;
  border-radius: 20px;
  cursor: pointer;
}

.flip-card h4{
  font-size: 1.2rem;
}

.flip-card a{
  margin-top: 1rem;
}

.front-card{
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  -webkit-perspective: 0;
    -webkit-backface-visibility: hidden;
    -webkit-transform: translate3d(0,0,0);
}

.back-card{
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  -webkit-perspective: 0;
    -webkit-backface-visibility: hidden;
    -webkit-transform: translate3d(0,0,0);
  background: var(--pink-text);
  color: var(--grey-text);
  transform: rotateY(180deg);
  border-radius: 20px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1rem;
}

.back-card h4{
  font-size: 1.5rem;
  padding-bottom: 0.5rem;
}

.flip-card.rotate{
  -webkit-transform: rotateY(360deg);
  transform: rotateY(360deg);
}

.flip-card:hover,
.flip-card.flip{
-webkit-transform: rotateY(180deg);
transform: rotateY(180deg);
}

.front-card.hands{
  background: url("../images/home-manicure.jpg") no-repeat center/cover;
  border-radius: 20px;
}

.front-card.feet{
  background: url("../images/set-2.jpg") no-repeat center center/cover;
  border-radius: 20px;
}

.front-card.makeup{
  background: url("../images/makeup2.png") no-repeat center center/cover;
  border-radius: 20px;
}

.image-test{
  display: flex;
  justify-content: center;

}

.image-test img{
  width: 50%;
  margin-top: 3rem;
}

/*SLIDESHOW SECTION*/

.slideshow-container{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 3rem;
  margin-bottom: 4rem;
}

.title{
  margin-bottom: 3rem;
  color: var(--pink-text);
  font-size: 3rem;
  font-family: 'Clicker Script', cursive;
  font-weight: 600;
}

.slideshow{
  width: 75%;
  padding: 1rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.slide-content{
  padding: 3rem;
  position: relative;
  background: #c9c9c9;
  color: #fff;
  border-radius: 8px;
  font-family: 'Cardo', serif;
  font-size: 1.2rem;
}

.slide-nav{
  position: absolute;
  top: 50%;
  font-size: 2.5rem;
  background: none;
  border: none;
  color: white;
  cursor: pointer;
}

.slide-nav:active{
  color: rgba(229,192,200);
}

.next-btn{
  right: 2%;
}

.prev-btn{
  left: 2%;;
}

.testimonal{
  margin: 1rem;
  padding: 0 1rem;
}

.icon{
  width: 80px;
}


/*COVID MODAL*/
.safety{
  margin: auto;
  margin-bottom: 2rem;
  padding: 0.5rem;
  background: #c9c9c9;
  border-radius: 6px;
  border: none;
  display: block;
  padding: 0.75rem;
  cursor: pointer;
  color: #fff;
}

.safety:hover{
  color: var(--dark-text);

}

.modal-container{
  background-color: rgba(0,0,0,0.3);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
  pointer-events: none;
    z-index: 1;
    transition: all ease 1s;
}

.modal{
  width: 60%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: var(--dark-text);
  background: var(--pink-text);
  border-radius: 8px;
  padding: 1rem;
  text-align: center;
}

.modal h3{
  font-size: 1.8rem;
  font-family: 'Cardo', serif;
  border-bottom: 1px solid white;
  display: inline-block;
  margin-bottom: 1.2rem;
}

.modal p{
  font-family: 'Cardo', serif;
  font: 1.2rem;
  font-weight: bold;
  margin-bottom: 1.5rem;
}

.toggle-modal{
  opacity: 1;
  pointer-events: auto;
}

/*Footer Styling*/
footer{
  position: relative;
  width: 100%;
  bottom: 0;
  background: var(--pink-text);
}

.footer-content{
  position: relative;
  display: flex;
  align-items: flex-start;
  justify-content: space-around;
  font-size: 1.3rem;
  height: 100%;
  padding: 2rem 0 3rem 0;
  color: var(--grey-text);
  font-family: 'Cardo', serif;
}

.footer-content .email,
.footer-content .socials{
  display: flex;
  flex-direction: column;
}

.footer-content .email{
  text-align: center;
}

.offers-form{
  display: flex;
  flex-direction: column;
}

.footer-content .offers input,
.footer-content .offers button{
  padding: 0.5rem;
  border-radius: 6px;
  border: none;
  margin: 0.25rem;
}

.footer-content .offers input:focus{
  outline: none;
}

.footer-content h3{
  margin-bottom: 0.5rem;
  font-weight: lighter;
  font-size: 1.5rem;
  border-bottom: 1px dotted #c9c9c9;
  text-align: center;
}

.socials i {
  padding: 5px;
  font-size: 1.5rem;
  transition: ease 0.5s;
  color: var(--grey-text);
}

.socials i:hover{
  cursor: pointer;
  transform: scale(1.3);
  color: #fff;
}

.footer-content a{
  color: var(--grey-text);
  padding: 0.25rem;
  font-family: 'Cardo', serif;
}

.footer-content .email a:hover{
  border-bottom: 2px solid #fff;
}


footer .copyright{
  position: absolute;
  bottom: 0.5rem;
  text-align: center;
  width: 100%;
  color: #fff;
}

@media(max-width: 767px){

  .header{
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .header img{
    padding-top: 0.5rem;
    margin: 0;
  }

  .navbar li a{
    font-size: 1rem;
  }

  .hero-content{
    justify-content: flex-start;
    align-items: center;
    text-align: center;
    height: 100%;
  }

  .hero-content h3{
    font-size: 2rem;
  }

  .preview-section{
    flex-direction: column;
    align-items: center;
  }

  .flip-card{
    width: 90%;
    transition: all 4s ease;
  }

  .previews{
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 2rem;
    padding-bottom: 2rem;
  }

  .title{
    font-size: 2rem;
  }

  .testimonals{
    padding: 1rem;
  }


  .description{
    padding: 3rem;
    padding-bottom: 1rem;
  }

  .description h1{
    font-size: 2.5rem;
    line-height: 2.5rem;
  }

  .image-test img{
    width: 90%;
  }

  .slideshow{
    width: 100%;
  }

  .slide-content{
    padding: 1.5rem;
  }

  .slideshow-container{
    margin-top: 1.5rem;
  }

  .slide-nav{
    font-size: 1.5rem;
  }

  .modal{
    width: 90%;
  }

  .footer-content{
    flex-direction: column;
    align-items: center;
    font-size: 1.2rem;
  }

  .footer-content .socials{
    flex-direction: row;

  }

  .footer-content .socials span{
    display: none;
  }

  .footer-content div{
    padding-bottom: 0.5rem;
  }

  .socials h3{
    display: none;
  }
}
