/*PRICES STYLES*/
.price-list{
  text-align: center;
  padding: 3rem;
}

.price-list h2{
  padding: 0 2rem 2rem;
  font-size: 4rem;
  font-family: 'Clicker Script', cursive;
  font-weight: 400;
}

.price-list h3{
  font-size: 2rem;
  margin-bottom: 1rem;
  font-family: 'Cardo';
  font-style: italic;
  font-weight: 400;
}

.icon{
  width: 50px;
  padding-bottom: 1rem;
}

.price-list h5{
  font-size: 1.2rem;
  margin-top: 0.5rem;
  font-family: 'Cardo', serif;
  font-weight: bold;
}

.price-list p{
  padding-bottom: 2rem;
  font-family: 'Cardo', serif;
}

.price-cont{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;

}

.price-card{
  border: 8px solid silver;
  border-radius: 12px;
  padding: 2rem;
}

/*MEDIA QURIES*/

@media(max-width: 767px){

  .header{
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .header img{
    padding-top: 0.5rem;
    margin: 0;
  }


  .navbar li a{
    font-size: 1rem;
  }


  .hero-content{
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100%;
  }

  .description,
  .previews{
    display: none;
  }

  .contact{
    padding: 1rem;
    background: #fff;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .contact .form,
  .contact-info{
    padding: 2rem 0 2rem 0;
  }

  .grid-container{
    grid-template-columns: 1fr;
  }


    .price-cont{
      grid-template-columns: 1fr;
    }

    .price-card{
      width: 100%;
    }

    .price-list p{
      padding: 0.5rem;
    }

    .price-list{
      padding: 1rem;
    }

  .footer-content{
    flex-direction: column;
    align-items: center;
    font-size: 1.2rem;
  }

  .footer-content .socials{
    flex-direction: row;

  }

  .footer-content .socials span{
    display: none;
  }

  .footer-content .offers{
    width: 80%;
  }

    .footer-content .offers h4{
      display: block;
    }

  .footer-content div{
    padding-bottom: 0.5rem;
  }


  footer .copyright{
    display: none;
  }

  footer h4{
    display: none;
  }

}
